<ion-header-bar class="bar-positive">
   <button class="button" ng-click="editRecipe()">Edit</button>
   <h1 class="title">{{ recipe.name }}</h1>
   <!-- TODO: After saving a new recipe, the app does not refresh to the main view. But the new recipe is saved.
   <button class="button button-clear" ng-click="newRecipe()">New</button>
   -->
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
	<ion-list>
      <ion-item ng-repeat="step in recipe.steps" type="item-text-wrap">		
		<ion-option-button class="ion-edit" ng-click="editRecipeStep(step)"> </ion-option-button>
        &nbsp 
		<ion-delete-button class="ion-trash-b" ng-click="deleteRecipeStep('{{recipe._id}}','{{step._id}}')"> </ion-delete-button>
        &nbsp 
        Step {{step.position}} : {{step.step}}
      </ion-item>
    </ion-list>
   <div class="card">
      <div class="item item-text-wrap">
         <span>
			<input type="text" placeholder="Add a step..." ng-model="recipe.addStep">
         </span> 
		 <button class="button button-positive" ng-click="addRecipeStep()">Add</button>
      </div>
   </div>
</ion-content>
